<section class="tw-flex tw-flex-col card">
    <header>
        <div class="tw-flex tw-flex-row tw-place-content-around tw-m-8">
            <span>new restaurants</span>
            <div class="tw-w-4 tw-rounded-lg">
                <span class="material-icons">
                    account_circle
                </span>
            </div>
        </div>
    </header>
    <main>
        <div class="tw-flex tw-flex-row tw-place-content-center tw-justify-center">
            @for (item of items.slice(0,3); track item.id) {
                <p-card [header]="item.title" class="tw-flex tw-w-16 tw-place-content-between tw-m-3 tw-h-3/5">
                    <img [src]="item.src" />
                    <p class="m-0">
                        {{item.description}}
                    </p>
                </p-card>
            } @empty {
                Empty list of restaurants
            }

            @if (showMore) {
                <button>show more</button>
            }
        </div>
    </main>
    <footer>

    </footer>
</section>