<section class="tw-w-[450px]">
    <header class="tw-flex tw-flex-row">
        <div class="card flex justify-content-center">
            <p-menu [model]="menuItems"></p-menu>
        </div>
        <!-- <div class="tab-list" cdkDropList (cdkDropListDropped)="onTabDrop($event)"> -->
            <p-tabView class="tw-w-[250px]" [(activeIndex)]="activeTabIndex" [scrollable]="true" (onTabChange)="handleTabChange($event)">
                @for (tab of tabs; track tab.id) {
                <p-tabPanel [header]="tab.title" [selected]="tab.active" (onDrop)="handleTabDrop($event, tab.id)">
                    <button (click)="closeTab(tab.id)">
                        <span class="material-symbols-outlined">
                            close
                        </span>
                    </button>
                    <p>{{tab.content}}</p>
                </p-tabPanel>
                }
            </p-tabView>
        <!-- </div> -->
  
    </header>
    <main>

    </main>
    <footer>

    </footer>
</section>