<section class="tw-mt-8">
    <header>
        <span class="tw-ml-7">For your taste</span>
    </header>
    <main>
        <div class="tw-flex tw-flex-row tw-place-content-center tw-justify-center tw-items-center">
            @for (item of items.slice(0,2); track item.id) {
                <p-card [header]="item.title" class="tw-flex tw-flex-col tw-w-32 tw-place-content-between tw-m-3">
                    <img [src]="item.src" />
                    <p class="m-0">
                        {{item.description}}
                    </p>
                    <div class="tw-flex tw-justify-center tw-place-content-center tw-mt-6">
                      <button class="tw-flex tw-w-2/4 tw-justify-center tw-rounded-md tw-text-white tw-place-content-center tw-bg-color2">try it</button>  
                    </div>
                    
                </p-card>
            } @empty {
                Empty list
            }

            @if (showMore) {
                <div class="tw-flex tw-place-content-center tw-justify-center">
                        <button class="tw-bg-color1 tw-rounded-md tw-text-color5 tw-h-8 tw-w-20">show more</button>   
                </div>
            }
        </div>
    </main>
    <footer>

    </footer>
</section>