@import url(./../scss/_variables.scss);

.mian-container {
    max-width: 450px;
    margin: 0 auto;
    overflow-y: unset;
    // height: 100dvh;
    height: 950px;
    box-sizing: border-box;
    border: 2px solid gray;
    border-radius: 8px
}
